body {
    background: #0d0d0d;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

#app {
    padding: 20px;
}

header {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

nav button {
    width: 24%;
    padding: 10px;
    margin: 2px 1%;
    background: #222;
    color: #00ffea;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.card {
    background: #1f1f1f;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
}
